:root {
  --border-hover: 0.5rem solid var(--bs-teal);
  --border-active: 0.5rem solid var(--bs-blue);
  --box-shadow: 1.5rem 1rem 1rem -0.2rem rgba(69,85,108,0.5);
}

body {
  background-color: var(--bs-light);
  color: var(--bs-dark);
}

.page-header {
  background-color: var(--bs-dark);
  color: var(--bs-light);
}

.accordion-item {
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.accordion-item:hover {
  border-left: var(--border-hover);
  transition-duration: 0.3s;
}

.accordion-item.active {
  border-left: var(--border-active);
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--bs-dark);
  color: var(--bs-light);
}