:root {
  --border-hover: 0.5rem solid var(--bs-orange);
  --border-active: 0.5rem solid var(--color-navy);
  --box-shadow: 1rem 1rem 2rem -0.5rem rgba(69,85,108,0.5);
  --color-navy: rgb(0 0 128)
}

body {
  background-color: var(--bs-white);
  color: var(--bs-black);
}

.page-header {
  background-color: var(--color-navy);
  color: var(--bs-white);
}

.accordion-item {
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.accordion-item:hover {
  border-left: var(--border-hover);
  transition-duration: 0.3s;
}

.accordion-item.active {
  border-left: var(--border-active);
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  color: var(--color-navy);
}